<file name=.gitignore path=/Users/ameghmurikkoli/Documents/ReactProjects/E-Commerce>
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore all videos by default
*.mp4

# Allow only compressed background video
!src/Images/bg-video.mp4
</file>
