.slide {
   width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  }
  
  
  .bg-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }


  .blog-hero-text {
    margin-top: 45rem;
    transform: translateY(-50%);
    color: #fff;
    z-index: 5;
    margin-left: 4rem;
    max-width: 70vw;
    
  }
  
  .blog-hero-title {
    position: relative;
    font-size: 6rem;
    font-weight: 700;
    margin: 0;
    line-height: 1.1;
    font-family: Sentient, "Sentient Placeholder", serif;
    color: #fff;
    max-width: 100%;

  }
  
  .blog-hero-subtitle {
    font-size: 6.5rem;
    font-weight: 300;
    font-style: italic;
    margin: 10px 0 10px 0;
    opacity: 0.9;
    font-family: Sentient, "Sentient Placeholder", serif;
    position: relative;
    top: -6rem;
    max-width: auto;
    width: auto;
    height: 3rem;
    line-height: 6rem;
  }
  
  .hero-description {
    font-size: 34px;
    opacity: 0.85;
    line-height: 1.6;
    margin-bottom: 30px;
  }


/* BLOG CARD – Framer Style */
.blog {
  width: 72vw;
  max-width: 100vw;
  margin: 2rem auto 6rem auto;
  padding: 3.5rem 4rem;
  background: #ffffff;
  border-radius: 22px;
  position: relative;
  z-index: 10;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.12);
  margin-top: 10rem;
}

/* META ROW */
.top {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding-bottom: 1.5rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #eee;
}

.top h5 {
    font-family: Sentient, "Sentient Placeholder", serif;
  font-size: 1.6rem;
  color: #000000;
  font-weight: 400;
  margin-bottom: -0.2rem;
}

.top-date,
.top-category,
.top-time {
font-family: Sentient, "Sentient Placeholder", serif;
  font-size: 1.6rem;
  color: #656565;
  margin: 0;
  font-weight: 500;
  font-style: italic;
}

/* CONTENT */
.content {
  line-height: 1.9;
  color: #222;
}

.content h2 {
  font-size: 2.3rem;
  font-weight: 400;
  margin: 3rem 0 1.2rem 0;
  font-family: Sentient, "Sentient Placeholder", serif;
  line-height: 3rem;
  width: auto;
}

.content p {
  margin-bottom: 1.4rem;
  font-size: 1.4rem;
  line-height: 2.3rem;
  color: #6a6a6a;
  font-family: Figtree, "Figtree Placeholder", sans-serif
  ;
}

.conclusion{

    width: 72vw;
    max-width: 100vw;
    margin: 2rem auto 6rem auto;
    padding: 3.5rem 4rem;
    background: #ffffff;
    border-radius: 22px;
    position: relative;
    z-index: 10;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.12);
    margin-top: 5rem;
    align-content: center;
    justify-content: center;
}

.conclusion h2{
    font-size: 2.3rem;
    font-weight: 400;
    margin: -1rem 0 1.2rem 0;
    font-family: Sentient, "Sentient Placeholder", serif;
    line-height: 3rem;
    width: 100vw;
    color: #000000;
}


.conclusion p{
    margin-bottom: 1.4rem;
  font-size: 1.4rem;
  line-height: 2.3rem;
  color: #6a6a6a;
  font-family: Figtree, "Figtree Placeholder", sans-serif;
}

.conclusion h5{
    color: #000000;
    display: flex;
    flex-direction: column;
    font-family: Sentient, "Sentient Placeholder", serif;
    font-size: 1.7rem;
    font-style: italic;
    font-weight: 300;


}
.conclusion h5 span{
    color: #6a6a6a;
    font-size: 1.5rem;
    font-style: italic;

}




/* Instagram Card Styles – tighten white space */
.insta-card {
  background: transparent;
  padding: 0;
  border-radius: 18px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
}

.insta-card img {
  margin-top: -2rem;
  width: 100%;
  height: 100%;
  max-height: 70%;
  max-width: 70%;
  object-fit: cover;
  display: block;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  
}
.insta-heading-row{
  margin: 0px !important;
  margin-top: 4rem !important;
}

.stay-updated{
  margin-bottom: 1rem;
}
@media (max-width: 480px) {

  .top{
    display: flex;
    flex-direction: column;
  }
  
  .blog {
    border-radius: 16px;
    padding: 2rem 1.5rem;
    margin: 2rem auto 3rem auto;
    max-width: 90vw !important;
    width: 80vw;
    margin-bottom: 5rem;
  }

  .conclusion{
    border-radius: 16px;
    padding: 2rem 1.5rem;
    margin: -3rem auto 3rem auto;
    max-width: 90vw !important;
    margin-bottom: -2rem;
  }

  .content h2 {
    font-size: 1.6rem;
  }

  

  .blog-hero-text{
    position: absolute;
    bottom: 5%;
    left:1rem;
    z-index: 5;
    color: #fff;
    max-width: 90vw;
    margin: 0;          /* remove the huge margin */
    transform: none; 

  }
  .blog-hero-title{
    max-width: 100vw;
    width: 100vw;
    font-size: 2.4rem; 
        margin-top: -2rem;
    margin-left: -2rem;
  }
  .blog-hero-subtitle{
    position: relative;
    max-width: 100vw;
    width: 100vw;
    font-size: 2.5rem !important;
    text-align: left;
    margin: 0;
   top: 2rem !important;
    left: 0rem !important;
    line-height: 2rem;
  }

  .content h2{
    max-width: 100vw;
    width: auto;
    font-size: 2rem;
    line-height: 2.2rem !important;
  }
  .content p{
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .conclusion h2{
    max-width: 100vw;
    width: 90vw;
    font-size: 2rem;
  }
  .conclusion p{
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .bg-image{
    height: 70vh ;
    max-height: 70vh !important;
  }

  .insta-card img {
    width: 150px;
    height: 160px;
    object-fit: cover;
  }

}

@media (max-width: 1440px) {
  .blog-hero-title{
    margin-top: -10rem;
    max-width: 100vw;
    width: 100vw !important;
    position: absolute;
    left: 0rem;
  }
  .blog-hero-subtitle{
    margin-top: -10rem;
    max-width: 100vw !important;
    width: 90vw !important;
    /* position: absolute; */
  }
}

@media (max-width: 768px) {

.blog {
  max-width: 100vw;
  width:70vw !important;
  padding: 1.5rem;
}
.blog-hero-title{
  font-size: 3rem;
  width: 100vw !important;
}
.blog-hero-subtitle{
  margin-top: -10rem;
  max-width: 100vw !important;
  width: auto !important;
  position: absolute;
  left: 0rem;
  font-size: 3rem !important;

}
.conclusion{
  max-width: 100vw;
  width: 80vw !important;
}
.content p{
  font-size: 1.2rem;
  line-height: 2rem;
}
.conclusion p{
  font-size: 1.2rem;
  line-height: 2rem;
}
.conclusion h2{
  font-size: 1.8rem;
  line-height: 2rem;
}
.content h2{
  font-size: 1.8rem;
}
.top{
  display: flex;
  flex-direction: column;
}
}
@media (max-width: 1024px) {
  .blog-hero-title{
    font-size: 4rem !important;
  }

  .blog-hero-subtitle{
    margin-top: -10rem;
    max-width: 100vw !important;
    width: 90vw !important;
    font-size: 4rem !important ;

  }
}
@media (max-width: 1200px) {

  .blog-hero-title{
    font-size: 4rem ;
    margin-top: -10rem;
    max-width: auto;
    width: auto !important;
    position: absolute;
    left: 0rem;
  }
  .blog-hero-subtitle{
    margin-top: -10rem;
    max-width: 100vw !important;
    width: 90vw !important;
    /* position: absolute; */
    left: 0rem;
    font-size: 5rem !important;
  }
}