


.Heading{
    font-family: Sentient, "Sentient Placeholder", serif;
    font-size: 6rem;
    font-weight: 500;
    color: #1a1c17;
    margin-bottom: 1.5rem;
    line-height: 1.1;
    font-style: italic;
    text-align: center;
}

.search-bar{
  max-width: 680px;
  margin: 2rem auto 0;
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 999px;
  padding: 0.6rem 0.75rem 0.6rem 1.25rem;
  box-shadow: 0 8px 24px rgba(0,0,0,0.06);
  margin-bottom: 2rem;
}

.search-input{
  flex: 1;
  border: none;
  outline: none;
  font-size: 1.1rem;
  font-family: Sentient, "Sentient Placeholder", serif;
  background: transparent;
  color: #1a1c17;
}

.search-input::placeholder{
  color: #9a9a9a;
  font-size: 1.5rem;
  justify-self: center ;
  align-self: center;

}

.search-btn{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  background: transparent;
  display: grid;
  place-items: center;
  font-size: 2rem;
  cursor: pointer;
  position: relative;
  bottom: 1rem;
}

.search-btn:hover{
  background: rgba(0,0,0,0.04);
}


  
  
    .faq-card {
      max-width: 1400px;
      margin: 0 auto;
      padding: 2rem 0;
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center; /* center the rows */
    }

  

    .faq-card1, .faq-card2, .faq-card3, .faq-card4 {
      width: 48%;   
      height: 35vh;           /* two cards per row */
      background: white;
      padding: 2rem;
      border-radius: 24px;
      color: black;
    }

  .faq-card h2 {
    margin-bottom: 2rem;
    font-family:   Sentient, "Sentient Placeholder", serif ;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
    font-style: italic;

  }

  .faq-card ul li{
    font-size: 1.4rem;
    line-height: 2.7rem;
    margin-left: 4rem;
    font-family: Figtree, "Figtree Placeholder", sans-serif
    ;
    
  }
  

  .faq-card ul .view-all{
    margin-top: 1.5rem;
    list-style: none;
    font-size: 1.4rem;
    transition: transform 0.3s ease-in-out ;
    display: inline-block;
  }

  .faq-card ul .view-all:hover{
    transform: scale(1.15);
  }


  .box{
    background: white;
    width: 40vw;
    height: auto;
    padding: 5rem;
    padding-top: 4rem;
    border-radius: 2rem;
    align-self: center;
    justify-self: center;
    margin-bottom: 4rem;
    font-family: Figtree, "Figtree Placeholder", sans-serif
    ;
  }
  .main{
    margin-top: 10rem;
    max-width: 100vw;
    justify-self: center;
    align-self: center;
    color: #1a1c17;
    
  }

  .question{
    text-align: center;
    font-size: 5rem;
    font-family: Sentient, "Sentient Placeholder", serif;
    font-style: italic;
    line-height: 5.8rem;
    font-weight: 600;
    margin-bottom: 4rem;
    max-width: 50vw;
  }

  .box .main-answer{
    font-size: 1.6rem;
    line-height: 2.3rem;
    margin-bottom: 2rem;
  }
  .answer-short{
    font-size: 1.5rem;
    color: #676565;
  }
  .answer-short2{
    font-size: 1.5rem;
    color: #676565;
  }
  .answer-short3{
    font-size: 1.5rem;
    color: #676565;
  }
  .answer-short span{
    font-weight: bold;
  }



@media (max-width: 480px){
  .Heading{
    font-family: Sentient, "Sentient Placeholder", serif;
    font-size: 4rem;
    font-weight: 500;
    color: #1a1c17;
    margin-bottom: 1.5rem;
    line-height: 1.1;
    font-style: italic;
    text-align: center;
    margin-top: 6rem;
}

.search-bar{
  max-width: 90vw !important;
  max-height: 3rem;
  margin: 2rem auto 0;
  display: flex;
  align-items: center;
  border-radius: 999px;
  padding: 0.6rem 0.75rem 0.6rem 1.25rem;
  box-shadow: 0 8px 24px rgba(0,0,0,0.06);
  margin-bottom: 2rem;
}

.search-input{
  flex: 1;
  border: none;
  outline: none;
  font-size: 1.1rem;
  font-family: Sentient, "Sentient Placeholder", serif;
  background: transparent;
  color: #1a1c17;
}

.search-input::placeholder{
  color: #9a9a9a;
  font-size: 1.2rem;
  justify-self: center ;
  align-self: center;

}

.search-btn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: transparent;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  bottom: 0.5rem;
}

.search-btn:hover{
  background: rgba(0,0,0,0.04);
}


  
  
    .faq-card {
      margin: 0 auto;
      padding: 2rem 0;
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center; /* center the rows */
      margin-bottom: 2rem;
    }

  

    .faq-card1, .faq-card2, .faq-card3, .faq-card4 {
      width: 80vw;   
      height: auto;           /* two cards per row */
      background: white;
      padding: 2rem;
      border-radius: 24px;
      color: black;
    }

  .faq-card h2 {
    margin-bottom: 2rem;
    font-family:   Sentient, "Sentient Placeholder", serif ;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;

  }

  .faq-card ul li{
    font-size: 1rem;
    line-height: 2rem;
    margin-left: 2rem;
    font-family: Figtree, "Figtree Placeholder", sans-serif;
    text-decoration: underline;
    
  }
  

  .faq-card ul .view-all{
    margin-top: 1.5rem;
    list-style: none;
    font-size: 1.2rem;
    transition: transform 0.3s ease-in-out ;
    display: inline-block;
  }

  .faq-card ul .view-all:hover{
    transform: scale(1.15);
  }


  .box{
    background: white;
    width: 80vw;
    height: auto;
    padding: 2rem;
    padding-top: 2rem;
    border-radius: 2rem;
    align-self: center;
    justify-self: center;
    margin-bottom: -2rem;
    font-family: Figtree, "Figtree Placeholder", sans-serif
    ;
  }
  .main{
    margin-top: 8rem;
    max-width: 100vw !important;
    justify-self: center;
    align-self: center;
    color: #1a1c17;
    
  }

  .question{
    text-align: center;
    font-size: 2.5rem;
    font-family: Sentient, "Sentient Placeholder", serif;
    font-style: italic;
    line-height: 2.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
    max-width: 90vw;
    align-self: center;
    justify-self: center;
  }

  .box .main-answer{
    font-size: 0rem !important;
    max-width: 100vw !important;
    line-height: 2rem;
    margin-bottom: 1rem;
  }
  .answer-short{
    font-size: 1.1rem;
    color: #676565;
  }
  .answer-short2{
    font-size: 1.1rem;
    color: #676565;
  }
  .answer-short3{
    font-size: 1.1rem;
    color: #676565;
  }
  .answer-short span{
    font-weight: bold;
  }
}

@media (max-width: 1024px){
  .box .main-answer{
    font-size: 1.3rem !important;
    line-height: 2.3rem;
    margin-bottom: 2rem;
  }
  .answer-short{
    font-size: 1.3rem;
  }
  .box{
      max-width: 100vw;
      width: 70vw !important;
    }

}

@media (max-width: 768px){
    .box{
      max-width: 100vw;
      width: 70vw !important;
    }
}