



h1{
    margin-top: 12rem;
    color: #000;
    text-align: center;
    font-family: Sentient, "Sentient Placeholder", serif;
    font-style: italic;
    font-size: 6rem;
    font-weight: 500;

}
/* Grid Layout */
.blog-grid {
    max-width: 100vw;
    margin: 0 auto;
    padding: 60px 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    align-content: center;
    justify-content: center;
    
  }
  
  /* Card */
  .blog-card {
    background: #ffffff;
    border-radius: 22px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.06);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 28vw;
    height: 39rem;
  }
  
  .blog-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
  }
  
  /* Image */
  .blog-card img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    display: block;
  }
  
  /* Content */
  .card-content {
    padding: 28px 30px 32px;
    font-family: Sentient, serif;
  }
  
  .category {
    font-size: 1.7rem;
    color: #5e5c5c;
    letter-spacing: 0.04em;
    margin-bottom: 10px;
    font-family: Sentient, "Sentient Placeholder", serif;
    font-style: italic;

  }
  
  .title {
font-family: Sentient, "Sentient Placeholder", serif;  
    font-size: 2rem;
    line-height: 1.35;
    color: #111;
    margin-bottom: 20px;
    font-weight: 500;
    font-style: italic;
  }
  
  .blog-card .card-content .read {
    font-size: 1.5rem;
    position: relative;
    color: #111;
    text-decoration: underline;
  }
  
  /* Responsive */  
  @media (max-width: 900px) {
    .blog-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .blog-grid {
      max-width: 100vw;
      width: 90vw;
    }
    .blog-card{
      max-width: 100vw !important;
      width: 75vw !important;
      height: 86vh;
    }


  .category {
    font-size: 1.5rem;
    color: #5e5c5c;
    letter-spacing: 0.04em;
    margin-bottom: 10px;
    font-family: Sentient, "Sentient Placeholder", serif;
    font-style: italic;

  }
  
  .title {
    font-size: 1.8rem;
    color: #111;
    margin-bottom: 20px;
    font-weight: 500;
    font-style: italic;
  }
  
  .blog-card .card-content .read {
    font-size: 1.4rem;
    position: relative;
    top: 1rem;
    color: #111;
    text-decoration: underline;
  }
  }
  @media (max-width: 1024px) {
  
    .blog-card{
      width: 35vw;
    }
  }
  @media (max-width: 768px) {
  
    .blog-card{
      width: 60vw;
    }
  }