.footer {
  background-color: #0f120e;
  color: #d1d1d1;
  padding: 140px 60px 30px;
  font-family: "Poppins", sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  gap: 50px;
}

/* Columns */
.footer-col h2,
.footer-col h3 {
  font-family: "Sentient", serif;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 30px;
}

.footer-logo {
  font-family: "Sentient", serif;
  font-size: 24px;
}

.footer-text {
  font-size: 20px;
  line-height: 1.7;
  color: #b5b5b5;
}

/* Lists */
.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  font-size: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  color: #ffffff;
  transition: color 0.3s ease;
  list-style: none;
}

.footer-col ul li:hover {
  color: #ffffff;
}

/* Payment icons */
.payment-icons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.payment-icons span {
  background: #1b1f1a;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 12px;
  color: #ffffff;
}
.footer-link{
    text-decoration: none;
    color: #ffffff;
}

.footer-link:hover{
    color: #ffffff;
    opacity: 0.9;
}

/* Bottom text */
.footer-bottom {
  margin-top: 60px;
  font-size: 23px;
  color: #888;
}

.footer-bottom span {
  color: #ffffff;
}

/* Responsive */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}