/* Home page video background styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden; /* prevent unwanted horizontal scroll */
  background: #d7cec4 !important;
}

body {
  margin: 0;
    overflow-x: hidden;


}

main {
  margin-top: 140px; /* offset fixed navbar */
  min-height: 100vh;
}
